<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">F1 Predictions</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="grand-prix-events" class="nav-link">Liste des Grand-Prix</a>
      </li>
      <li class="nav-item">
        <a routerLink="grand-prix-events/add" class="nav-link">Ajouter un Grand-Prix</a>
      </li>
      <li class="nav-item">
        <a routerLink="bets" class="nav-link">Pronostics</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
